@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background: rgb(209, 209, 209);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

.brand-logo {
  display: flex;
  align-items: center;
  gap: 35px;
  margin: 15px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: end;
  margin: 20px;
}

.title {
  margin: 15px;
}

.list-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 15px;
}
.list-cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(167, 167, 167);
  padding: 15px;
  border-radius: 10px;
}

.plan-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 15px;
}
.plan-cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(167, 167, 167);
  padding: 15px;
  border-radius: 10px;
}

.plan-title {
  margin: 20px;
}

.checkout-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkout-card .checkout-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.checkout-card .payment-card {
  border: 1px solid #333;
  padding: 10px;
  border-radius: 10px;
}

.orders-card {
  margin: 15px;
}

th {
  padding: 10px;
}

td {
  padding: 10px;
}

tr:nth-child(odd) {
  background-color: rgba(68, 68, 68, 0.4);
}

.invoice-card {
  margin: 15px;
}

.price-card {
  display: flex;
  gap: 15px;
  align-items: center;
}

.info {
  margin: 10px;
}

.error-msg {
  color: rgb(177, 0, 0);
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-msg {
  color: rgb(0, 114, 0);
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  margin: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.auth-card .register-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.auth-card .register-card .register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.auth-card .text-input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}
.auth-card .login-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.auth-card .login-card .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.back-button {
  border: 1px solid #333;
  padding: 10px;
  border-radius: 10px;
}

select {
  appearance: none;
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  margin: 0 0 10px 0;
}

button {
  border: none;
  cursor: pointer;
  width: 100px;
  height: 30px;
  background-color: rgb(19, 19, 19);
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
}

/*# sourceMappingURL=main.css.map */
